/* Color palette: https://lospec.com/palette-list/gender-queer-6 */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

html {
	overflow: hidden;
	background: #161616;
	color: #161616;
	font-size: 5mm;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-content: stretch;
	align-items: stretch;
	max-width: 45em;
	margin: auto;
}

html.build {
	overflow: auto;
}

.build h1 {
	background-color: #214d27;
	color: #fff;
	font-size: 1.5em;
	margin: 0;
	padding: 0.5em;
	font-weight: normal;
}

.build .webgl-content, .build .unity-desktop {
	max-width: 960px;
	position: static !important;
	top: auto !important;
	left: auto !important;
	-webkit-transform: none !important;
	transform: none !important;
	margin: auto !important;
}

.build #unity-footer, .build .footer {
	display: table;
	margin: 0 auto !important;
	width: 960px;
}

.build #unity-footer>*, .build .footer>* {
	float: none !important;
	display: table-cell !important;
	background-position: top center;
}

.build #unity-footer>#unity-build-title, .build .footer>.title {
	margin: 0 !important;
	padding-right: 0.5em;
	line-height: 1.5em;
	text-align: right;
}

.build #unity-footer a, .build .footer a {
	display: block;
}

.build canvas {
	display: block;
}

nav, main {
	box-sizing: border-box;
}

nav {
	padding: 0;
	background-color: #48821e;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	font-size: 24px;
	/*
	background-image: url(/getFragment.php/slothsoft/writing?text=Daniel+Schulz&color=lightblue);
	background-clip: content-box;
	background-size: cover;
	background-repeat: no-repeat;
	*/
}

nav figure {
	float: left;
	image-rendering: crisp-edges;
	margin: 0;
}

nav figure>* {
	display: inline-block;
}

nav figure figcaption {
	padding: 0.5em 0;
	line-height: 1em;
	font-weight: bold;
	color: #214d27;
}

nav figure img {
	image-rendering: crisp-edges;
	width: 1.5em;
	height: 1.5em;
	vertical-align: top;
	padding: 0.25em;
}

main {
	flex-basis: 100%;
	overflow: auto;
}

.navi {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: stretch;
}

.navi+.navi {
	background-color: #214d27;
}

.navi a {
	display: block;
	text-align: center;
	padding: 0.5em;
	line-height: 1em;
	text-decoration: none;
	/* border-right: 1px ridge #87cc87; */
	color: #fff;
}

.navi a.category {
	padding-right: 0.75em;
}

.navi+.navi a {
	max-width: 20%;
	box-sizing: border-box;
	font-size: 0.6em;
	padding: 0.5em 0.5em 0.5em 0.25em;
}

.navi[data-section="Games"] a {
	font-size: 0.9em;
	max-width: 50%;
	padding-left: 0.5em;
}

.navi a:hover {
	background-color: #714675 !important;
}

.navi a:visited {
	color: #c1c1c1;
}

.navi a.current {
	background-color: #214d27;
	color: #a37acc;
}
/* Medium screens */
@media all and (max-width: 800px) {
	nav {
		justify-content: flex-end;
	}
	html {
		overflow: auto;
	}
	html, body {
		min-height: 100%;
		height: auto;
		width: auto;
	}
	.navi {
		justify-content: flex-start;
	}
	.navi a {
		font-size: 0.75em;
	}
	.navi a {
		max-width: none !important;
	}
	.pointer {
		display: none !important;
	}
}

main {
	background-color: #fafafa;
	padding: 1em;
	min-height: 10em;
	overflow: auto;
}

h1, h2, h3 {
	color: #714675;
	/* text-shadow: -1px -1px 0 rgba(103, 103, 166, 1), 1px -1px 0
		rgba(103, 103, 166, 1), -1px 1px 0 rgba(103, 103, 166, 1), 1px 1px 0
		rgba(103, 103, 166, 1); */
	margin: 0.5em 0.0em;
	font-weight: bold;
}

p {
	margin: 0px;
	padding: 0.25em 0;
	text-align: justify;
}

a[rel~="nofollow"]::after, a[rel~="external"]::after {
	content: " ↗";
	font-size: 0.5em;
	vertical-align: 0.75em;
	/*
	content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
	*/
}

header {
	background-color: rgba(128, 128, 256, 0.5);
	color: white;
	padding: 0 1em;
	border-radius: 4em;
	line-height: 4em;
}

header>h2 {
	margin: 0;
}

article, section {
	min-height: 1em;
}

main>h1 {
	font-size: 1.5em;
	margin-top: 0;
}

section>h2, article>h2 {
	font-size: 1em;
	border-bottom: 1px solid #714675;
}

section>h3, article>h3 {
	font-size: 0.9em;
	font-weight: normal;
	border-bottom: 1px solid rgba(128, 128, 256, 0.5);
}

article>img, section>img {
	float: right;
	display: block;
	max-width: 50%;
	margin-left: 1em;
}

article>*:last-child, section>*:last-child {
	clear: both;
}

dl>dd {
	list-style-type: circle;
	display: list-item;
}

main figure, main figure>img, main figure>video, main figure>figcaption,
	main figure>iframe {
	max-width: 100%;
	display: block;
	margin: auto;
}

main figure>figcaption {
	text-align: center;
	margin: 0.25em 2em;
	font-style: italic;
}

main figure+figure {
	margin-top: 2em;
}

.hidden {
	display: none;
}

.pointer {
	display: inline-block;
	width: 1em;
	text-align: left;
}