html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

html {
	overflow: hidden;
	background: linear-gradient(160deg, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%);
	font-size: 5mm;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-content: stretch;
	align-items: stretch;
	max-width: 45em;
	margin: auto;
}

html.build {
	background: #c1d9e1;
	overflow: auto;
}

.build h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.build .webgl-content,
.build .unity-desktop {
	position: static;
	top: auto;
	left: auto;
	-webkit-transform: none;
	transform: none;
	max-width: 960px;
	margin: auto;
}
.build #unity-footer,
.build .footer {
	display: table;
	margin: 0 auto !important;
	width: 960px;
}
.build #unity-footer > *,
.build .footer > * {
	float: none !important;
	display: table-cell !important;
	background-position: top center;
}
.build #unity-footer > #unity-build-title,
.build .footer > .title {
	margin: 0 !important;
	padding-right: 0.5em;
	line-height: 1.5em;
	text-align: right;
}
.build #unity-footer a,
.build .footer a {
	display: block;
}
.build canvas {
	display: block;
}

nav, main {
	border: 1px ridge rgba(128, 128, 128, 0.5);
	box-shadow: 0.25em 0.25em 0.25em rgba(128, 128, 128, 0.5);
	border-radius: 0.125em;
	box-sizing: border-box;
	margin: 0.25em;
}

nav {
	padding: 0;
	background-color: lightgreen;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;

	/*
	background-image: url(/getFragment.php/slothsoft/writing?text=Daniel+Schulz&color=lightblue);
	background-clip: content-box;
	background-size: cover;
	background-repeat: no-repeat;
	*/
}

main {
	flex-basis: 100%;
	overflow: auto;
}

.navi {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: stretch;
	margin-right: -1px;
}

.navi+.navi {
	border-top: 1px ridge #87cc87;
	font-size: smaller;
}

.navi a {
	display: block;
	text-align: center;
	max-width: 8.5em;
	padding: 0.5em;
	line-height: 1em;
	border-right: 1px ridge #87cc87;
}

.navi[data-section="GameJams"] a {
	max-width: 11em;
}

.navi a:hover {
	background-color: #7de67d !important;
}

.navi a.current {
	background: #87cc87;
	color: white;
}
/* Medium screens */
@media all and (max-width: 800px) {
	nav {
		justify-content: flex-end;
	}
	html {
		overflow: auto;
	}
	html, body {
		min-height: 100%;
		height: auto;
		width: auto;
	}
	.navi {
		justify-content: flex-start;
	}
	.navi a {
		font-size: 0.75em;
	}
	.navi a {
		max-width: none !important;
	}
	.pointer {
		display: none !important;
	}
}

main {
	background-color: #c1d9e1;
	padding: 0.5em;
	margin-bottom: 1em;
	min-height: 10em;
	overflow: auto;
}

h1, h2, h3 {
	color: white;
	text-shadow: -1px -1px 0 rgba(103, 103, 166, 1), 1px -1px 0
		rgba(103, 103, 166, 1), -1px 1px 0 rgba(103, 103, 166, 1), 1px 1px
		0 rgba(103, 103, 166, 1);
	margin: 0.5em 0.0em;
}

p {
	margin: 0px;
	padding: 0.25em 0;
	text-align: justify;
}

a[rel~="nofollow"]::after, a[rel~="external"]::after {
	content: " ↗";
	font-size: 0.5em;
	vertical-align: 0.75em;
	/*
	content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
	*/
}

header {
	background-color: rgba(128, 128, 256, 0.5);
	color: white;
	padding: 0 1em;
	border-radius: 4em;
	line-height: 4em;
}

header>h2 {
	margin: 0;
}

article, section {
	min-height: 1em;
}

main>h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 0;
}

section>h2, article>h2 {
	font-size: 1em;
	font-weight: normal;
	border-bottom: 1px solid rgba(128, 128, 256, 0.5);
}

section>h3, article>h3 {
	font-size: 0.9em;
	font-weight: normal;
	border-bottom: 1px solid rgba(128, 128, 256, 0.5);
}

article>img, section>img {
	float: right;
	display: block;
	max-width: 50%;
	margin-left: 1em;
}

article>*:last-child, section>*:last-child {
	clear: both;
}

dl {
	
}

dl>dd {
	list-style-type: circle;
	display: list-item;
}

figure, figure>img, figure>video, figure>figcaption {
	display: block;
	margin: 0;
}

figure>figcaption {
	text-align: center;
	margin: 0.25em 2em;
	font-style: italic;
}

figure>img, figure>video {
	max-width: 100%;
	margin: auto;
}

figure+figure {
	margin-top: 2em;
}

.hidden {
	display: none;
}

.pointer {
	display: inline-block;
	width: 1em;
	text-align: left;
}