img {
	border-radius: 4em;
	width: 4em;
	height: 4em;
	float: left;
	margin-right: 0.5cm;
}

html {
	background: black;
}

html, body, main {
	height: 100%;
}

body {
	margin: 0;
	justify-content: center;
}

main {
	width: 210mm;
	height: 297mm;
	background: white;
	display: table;
	margin: auto;
}

section {
	display: table-cell;
	padding: 1cm 1.5cm;
	vertical-align: top;
}

section:first-child {
	width: 67%;
}

section:last-child {
	background: #48821e;
	color: white;
    padding-top: 4cm;
}

section:last-child a {
	color: #ffe;
}

.important {
	font-variant: small-caps;
	font-size: 1rem;
	font-weight: normal;
}

@page {
	size: A4 portrait;
	margin: 0;
}

@media print {
	body {
		background: none;
	}
	@page {
		size: A4 portrait;
		margin: 0;
	}
}