img {
	border-radius: 2cm;
	width: 1.5cm;
	height: 1.5cm;
	float: left;
	margin-right: 0.5cm;
}

html {
	background: black;
}

html, body, main {
	height: 100%;
}

body {
	margin: auto;
	justify-content: center;
}

.page {
	width: 210mm;
	height: 297mm;
	overflow: hidden;
	margin: auto;
}

main {
	width: 100%;
	height: 100%;
	background: white;
	display: table;
	margin: auto;
}

section {
	display: table-cell;
	vertical-align: top;
}

section:first-child {
	padding: 1cm 0 0 1.5cm;
	width: 67%;
}

section:last-child {
	padding: 3.5cm 1cm 0 1.2cm;
	background: #48821e;
	color: white;
}

section:last-child a {
	color: #ffe;
}

.skills dt {
	line-height: 7mm;
}

.skills dd {
	margin: 0 0.5cm 0 0;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 1mm;
}

.skills dd div {
	background: rgba(255, 255, 125527, 0.8);
	height: 1mm;
}

.links dt::after {
	content: ":";
}

.links dd {
	margin-left: 1em;
	margin-bottom: 1em;
}

.links a {
	display: block;
	font-size: 2.6mm;
}

.important {
	font-variant: small-caps;
}

h1, h2 {
	font-family: "Oswald", sans-serif;
}

main, h3, h4, .important, p, li {
	font-family: "Lexend", sans-serif;
}

html {
	font-size: 2.8mm;
}

* {
	line-height: 1em;
	font-weight: 300;
}

h1 {
	font-size: 8mm;
	line-height: 10mm;
	font-weight: 500;
	margin: 0;
}

h2 {
	font-size: 5mm;
	line-height: 6mm;
	font-weight: 400;
	margin: 0.5cm 0 0.25cm 0;
}

.sidebar h2 {
	font-size: 4mm;
	line-height: 4mm;
}

.sidebar p {
	line-height: 4mm;
}

h3 {
	font-weight: 400;
	margin: 0.35cm 0 0.15cm 0;
}

p, dt {
	margin: 0;
	line-height: 5mm;
}

article .important {
	font-size: 2.8mm;
	color: gray;
	margin: 0.15cm 0;
	color: gray;
}

hgroup p {
	font-size: 3mm;
}

@page {
	size: A4 portrait;
	margin: 0;
}

@media print {
	body {
		background: none;
	}
	@page {
		size: A4 portrait;
		margin: 0;
	}
}

html[lang="de"] .profile h2::before {
	content: "Kurzprofil";
}

html[lang="en"] .profile h2::before {
	content: "Profile";
}

html[lang="de"] .skills h2::before {
	content: "Kompetenzen";
}

html[lang="en"] .skills h2::before {
	content: "Skills";
}

html[lang] .links h2::before {
	content: "Links";
}

html[lang="de"] .contact h2::before {
	content: "Anschrift";
}

html[lang="en"] .contact h2::before {
	content: "Contact";
}

html[lang="de"] .languages h2::before {
	content: "Sprachen";
}

html[lang="en"] .languages h2::before {
	content: "Languages";
}

html[lang="de"] .employment h2::before {
	content: "Berufserfahrung";
}

html[lang="en"] .employment h2::before {
	content: "Employment History";
}

html[lang="de"] .education h2::before {
	content: "Bildungsweg";
}

html[lang="en"] .education h2::before {
	content: "Education";
}

html[lang="de"] .independent h2::before {
	content: "Eigenständiges";
}

html[lang="en"] .independent h2::before {
	content: "Independent Work";
}

html[lang="de"] [data-word="present"]::before {
	content: "heute";
}

html[lang="en"] [data-word="present"]::before {
	content: "present";
}

html[lang="de"] [data-month="1"]::before {
	content: "Januar";
}

html[lang="en"] [data-month="1"]::before {
	content: "January";
}

html[lang="de"] [data-month="2"]::before {
	content: "Februar";
}

html[lang="en"] [data-month="2"]::before {
	content: "February";
}

html[lang="de"] [data-month="3"]::before {
	content: "März";
}

html[lang="en"] [data-month="3"]::before {
	content: "March";
}

html[lang="de"] [data-month="4"]::before {
	content: "April";
}

html[lang="en"] [data-month="4"]::before {
	content: "April";
}

html[lang="de"] [data-month="5"]::before {
	content: "Mai";
}

html[lang="en"] [data-month="5"]::before {
	content: "May";
}

html[lang="de"] [data-month="6"]::before {
	content: "Juni";
}

html[lang="en"] [data-month="6"]::before {
	content: "June";
}

html[lang="de"] [data-month="7"]::before {
	content: "Juli";
}

html[lang="en"] [data-month="7"]::before {
	content: "July";
}

html[lang="de"] [data-month="8"]::before {
	content: "August";
}

html[lang="en"] [data-month="8"]::before {
	content: "August";
}

html[lang="de"] [data-month="9"]::before {
	content: "September";
}

html[lang="en"] [data-month="9"]::before {
	content: "September";
}

html[lang="de"] [data-month="10"]::before {
	content: "Oktober";
}

html[lang="en"] [data-month="10"]::before {
	content: "October";
}

html[lang="de"] [data-month="11"]::before {
	content: "November";
}

html[lang="en"] [data-month="11"]::before {
	content: "November";
}

html[lang="de"] [data-month="12"]::before {
	content: "Dezember";
}

html[lang="en"] [data-month="12"]::before {
	content: "December";
}